@font-face {
  font-family: "iconfont"; /* Project id 2597996 */
  src: url('//at.alicdn.com/t/font_2597996_bani1mw2pm7.woff2?t=1623130357169') format('woff2'),
       url('//at.alicdn.com/t/font_2597996_bani1mw2pm7.woff?t=1623130357169') format('woff'),
       url('//at.alicdn.com/t/font_2597996_bani1mw2pm7.ttf?t=1623130357169') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.q-add:before {
  content: "\e664";
}

.q-add-circle:before {
  content: "\e665";
}

.q-arrow-up-circle:before {
  content: "\e666";
}

.q-arrow-right-circle:before {
  content: "\e667";
}

.q-arrow-down:before {
  content: "\e668";
}

.q-ashbin:before {
  content: "\e669";
}

.q-arrow-right:before {
  content: "\e66a";
}

.q-browse:before {
  content: "\e66b";
}

.q-bottom:before {
  content: "\e66c";
}

.q-back:before {
  content: "\e66d";
}

.q-bad:before {
  content: "\e66e";
}

.q-arrow-double-left:before {
  content: "\e66f";
}

.q-arrow-left-circle:before {
  content: "\e670";
}

.q-arrow-double-right:before {
  content: "\e671";
}

.q-camera:before {
  content: "\e672";
}

.q-chart-bar:before {
  content: "\e673";
}

.q-attachment:before {
  content: "\e674";
}

.q-comment:before {
  content: "\e676";
}

.q-direction-right:before {
  content: "\e677";
}

.q-direction-up:before {
  content: "\e678";
}

.q-discount:before {
  content: "\e679";
}

.q-direction-left:before {
  content: "\e67a";
}

.q-download:before {
  content: "\e67b";
}

.q-edit:before {
  content: "\e67c";
}

.q-eye-close:before {
  content: "\e67d";
}

.q-favorite:before {
  content: "\e67e";
}

.q-file-delete:before {
  content: "\e67f";
}

.q-file-add:before {
  content: "\e680";
}

.q-fabulous:before {
  content: "\e681";
}

.q-good:before {
  content: "\e682";
}

.q-hide:before {
  content: "\e683";
}

.q-home:before {
  content: "\e684";
}

.q-lock:before {
  content: "\e685";
}

.q-map:before {
  content: "\e686";
}

.q-modular:before {
  content: "\e687";
}

.q-notification:before {
  content: "\e688";
}

.q-mic:before {
  content: "\e689";
}

.q-more:before {
  content: "\e68a";
}

.q-play:before {
  content: "\e68b";
}

.q-navigation:before {
  content: "\e68c";
}

.q-pdf:before {
  content: "\e68d";
}

.q-prompt:before {
  content: "\e68e";
}

.q-refresh:before {
  content: "\e68f";
}

.q-picture:before {
  content: "\e690";
}

.q-search:before {
  content: "\e691";
}

.q-share:before {
  content: "\e692";
}

.q-scanning:before {
  content: "\e693";
}

.q-security:before {
  content: "\e694";
}

.q-sign-out:before {
  content: "\e695";
}

.q-select:before {
  content: "\e696";
}

.q-success:before {
  content: "\e697";
}

.q-switch:before {
  content: "\e698";
}

.q-time:before {
  content: "\e699";
}

.q-unlock:before {
  content: "\e69a";
}

.q-arrow-up-filling:before {
  content: "\e69b";
}

.q-arrow-down-filling:before {
  content: "\e69c";
}

.q-arrow-left-filling:before {
  content: "\e69d";
}

.q-arrow-right-filling:before {
  content: "\e69e";
}

.q-clock-filling:before {
  content: "\e69f";
}

.q-delete-filling:before {
  content: "\e6a0";
}

.q-favorite-filling:before {
  content: "\e6a1";
}

.q-picture-filling:before {
  content: "\e6a2";
}

.q-notification-filling:before {
  content: "\e6a3";
}

.q-setting-filling:before {
  content: "\e6a4";
}

.q-map-filling:before {
  content: "\e6a5";
}

.q-sorting:before {
  content: "\e6a6";
}

.q-Close:before {
  content: "\e600";
}

.q-close:before {
  content: "\e601";
}
